In [ ]:
#Other inbuilt methods for sets

In [2]:
#1 difference()
#1.1Returns a set containing the difference between two or more sets
set1={1,2,3,4,5}
set2={10,20,30,40,5}
set3=set1.difference(set2)
set3

{1, 2, 3, 4}

In [3]:
#1.2
x={"Jio","Airtel","BSNL","Idea","Vodafone"}
y={"Asus","Samsung","Apple","Jio"}
z=x.difference(y)
z

{'Airtel', 'BSNL', 'Idea', 'Vodafone'}

In [4]:
#1.3
z=y.difference(x)
z

{'Apple', 'Asus', 'Samsung'}

In [6]:
x

{'Airtel', 'BSNL', 'Idea', 'Jio', 'Vodafone'}

In [7]:
y

{'Apple', 'Asus', 'Jio', 'Samsung'}

In [8]:
#2 symmetric_Difference()
#2.1 Returns a set with the symmetric differences of two sets
z=x.symmetric_difference(y)
z

{'Airtel', 'Apple', 'Asus', 'BSNL', 'Idea', 'Samsung', 'Vodafone'}

In [9]:
print(set1,set2)

{1, 2, 3, 4, 5} {5, 40, 10, 20, 30}

In [11]:
#2.2
set3=set1.symmetric_difference(set2)
set3

{1, 2, 3, 4, 10, 20, 30, 40}

In [12]:
z=y.symmetric_difference(x)
z

{'Airtel', 'Apple', 'Asus', 'BSNL', 'Idea', 'Samsung', 'Vodafone'}

In [13]:
#3 difference_update()
#3.1 Removes the items in this set that are also included in another, specified set
print(set1,set2)

{1, 2, 3, 4, 5} {5, 40, 10, 20, 30}

In [16]:
set1.difference_update(set2)
set1

{1, 2, 3, 4}

In [17]:
#3.2
print(x,y)

{'BSNL', 'Vodafone', 'Idea', 'Airtel', 'Jio'} {'Samsung', 'Apple', 'Asus', 'Jio'}

In [18]:
x.difference_update(y)
x

{'Airtel', 'BSNL', 'Idea', 'Vodafone'}

In [20]:
#4 symmetric_difference_update()
#4.1 Inserts the symmetric differences from this set and another
x={"Jio","Airtel","BSNL","Idea","Vodafone"}
y={"Asus","Samsung","Apple","Jio"}
print(x,y)

{'BSNL', 'Vodafone', 'Idea', 'Airtel', 'Jio'} {'Samsung', 'Apple', 'Asus', 'Jio'}

In [21]:
x.symmetric_difference_update(y)
x

{'Airtel', 'Apple', 'Asus', 'BSNL', 'Idea', 'Samsung', 'Vodafone'}

In [26]:
#4.2
set1={1,2,3,4,5}
set2={10,20,30,40,5}
print(set1,set2)

{1, 2, 3, 4, 5} {5, 40, 10, 20, 30}

In [27]:
set1.symmetric_difference_update(set2)
set1

{1, 2, 3, 4, 10, 20, 30, 40}

In [3]:
set1={1,2,3,4,5}
set2={10,20,30,40,5}
x={"Jio","Airtel","BSNL","Idea","Vodafone"}
y={"Asus","Samsung","Apple","Jio"}

In [6]:
#5 intersection_update()
#5.1 Removes the items in this set that are not present in other, specified set

In [9]:
x.intersection_update(y)
x# x set get updated

{'Jio'}

In [10]:
y #y set remains same

{'Apple', 'Asus', 'Jio', 'Samsung'}

In [12]:
#5.2
set1.intersection_update(set2)
set1# Set1 gets updaed

{5}

In [13]:
set2 #set2 remains same

{5, 10, 20, 30, 40}

In [14]:
#6 isdisjoint()
# Returns True if none of the items are present in both sets, otherwise it returns False
set1={1,2,3,4,5}
set2={10,20,30,40,5}
x={"Jio","Airtel","BSNL","Idea","Vodafone"}
y={"Asus","Samsung","Apple","Jio"}

In [16]:
#6.11 Returns false
x.isdisjoint(y) #Jio is present in both set x and y

False

In [17]:
#6.2 Returns false
set1.isdisjoint(set2) # 5  is present in both set1 and set2

False

In [18]:
set1={1,2,3,4,5}
set2={10,20,30,40}
x={"Jio","Airtel","BSNL","Idea","Vodafone"}
y={"Asus","Samsung","Apple"}

In [19]:
#6.12 Returns true
x.isdisjoint(y) # Elements of sets are identical

True

In [20]:
#6.22
set1.isdisjoint(set2) #Elements of sets are identical

True

In [21]:
#7 issubset()
# Returns whether another set contains this set or not
set1={1,4,10,11,13,14,2,3,6,5,"Jio","Airtel","BSNL","Idea","Vodafone","Asus","Samsung","Apple"}
set2={1,2,3,4,5}
set3={"Asus","Samsung","Jio","Airtel"}

In [22]:
#7.1
set2.issubset(set1) #set2 is subset of set1 (Returns True only when all the elements in the set 2 should be present in set1)

True

In [31]:
#7.2
set3.issubset(set1) #set3 is sub set of set1 (Returns True only when all the elements in the set 3 should be present in set1)

In [29]:
set2={45,55,66,77}
set3={"Microsoft","HP","Dell","Jio"}

In [25]:
#7.3set2.issubset(set1) #set2 is not subset of set1

False

In [32]:
#7.4
set3.issubset(set1) #set3 is not subset of set1

False