In [1]:
#Task6 - Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

In [4]:
#1 To add elements in tuple
tup1=(1,2,3,4.4,5.5,True,"Maths")
tup1

(1, 2, 3, 4.4, 5.5, True, 'Maths')

In [6]:
#1.1 To add False in tuple 
list1=list(tup1)
list1

[1, 2, 3, 4.4, 5.5, True, 'Maths']

In [7]:
list1.insert(6,False)
list1

[1, 2, 3, 4.4, 5.5, True, False, 'Maths']

In [8]:
##1.1 To add "ML" in tuple 
list1.insert(8,"ML")
list1

[1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'ML']

In [10]:
tup1=tuple(list1)
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'ML')

In [11]:
#2 To remove elements in tuple
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'ML')

In [18]:
#2.1 To remove 4.4 from tuple
list1=list(tup1)
list1

[1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'ML']

In [19]:
list1.pop(3)
list1

[1, 2, 3, 5.5, True, False, 'Maths', 'ML']

In [20]:
tup1=tuple(list1)
tup1

(1, 2, 3, 5.5, True, False, 'Maths', 'ML')

In [21]:
##2.2 To remove True from tuple
list1

[1, 2, 3, 5.5, True, False, 'Maths', 'ML']

In [22]:
list1.pop(4)
list1

[1, 2, 3, 5.5, False, 'Maths', 'ML']

In [23]:
tup1=tuple(list1)
tup1

(1, 2, 3, 5.5, False, 'Maths', 'ML')